/* ======================== *\
    #Form
\* ======================== */

.form {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.videoPicker {
    width: 100%;
}
