.main {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

/* ======================== *\
    #Preview Pane
\* ======================== */

.inputVideo,
.outputPreview {
    width: 100%;
    min-width: 480px;
    max-width: 720px;
    border: 1px solid var(--black);
}

/* ======================== *\
    #Form
\* ======================== */

.form {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.videoPicker {
    width: 100%;
}
