.navigation {
    padding: 0 1rem;

    display: flex;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 5;

    color: var(--text-inverted);
    background-color: var(--grey-400);
}

.lnk {
    padding: 0.6rem 1rem;
    border-bottom: 5px solid transparent;
    color: var(--text-inverted);
}
.lnk:hover,
.lnk:focus {
    background-color: var(--grey-500);
}
.selected {
    background-color: var(--grey-600);
    border-bottom-color: var(--primary-100);
}
.selected:hover,
.selected:focus {
    background-color: var(--grey-600);
    border-bottom-color: var(--primary-100);
}
