/* ======================== *\
    #Variables
\* ======================== */

:root {
    --black: #001011;
    --white: #fbfbfb;

    --grey-100: #707070;
    --grey-200: #606065;
    --grey-300: #505059;
    --grey-400: #40404e;
    --grey-500: #373945;
    --grey-600: #2e323d;
    --grey-700: #252b34;
    --grey-800: #1b252b;

    --primary-100: #97c8eb;
    --primary-200: #64e9ee;
    --primary-300: #3aafb9;
    --primary-400: #093a3e;

    --text: var(--black);
    --text-inverted: var(--white);
    --background: var(--grey-100);
}

/* ======================== *\
    #General
\* ======================== */

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html,
body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    line-height: inherit;
    color: var(--text);
    background-color: var(--background);
}

/* ------------------------ *\
    #Scroll bar
\* ------------------------ */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--grey-400);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-100);
    border-radius: 8px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* ======================== *\
    #Normalize
\* ======================== */

a {
    color: var(--text);
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* ======================== *\
    #Components
\* ======================== */

.btn,
.txt,
.num {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
}

/* ------------------------- *\
    #Buttons
\* ------------------------- */

.btn {
    font-weight: bold;

    color: var(--text-inverted);
    background-color: var(--grey-400);
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: var(--text-inverted);
    background-color: var(--grey-600);
    transition: color 250ms ease-out, background-color 250ms ease-out;
}

.btn:disabled {
    background-color: var(--grey-200);
}
.btn:disabled:hover {
    cursor: not-allowed;
}

/* ------------------------- *\
    #Inputs
\* ------------------------- */

.txt {
}

.num {
    padding: 0.6rem 0.3rem;
    width: 64px;
    text-align: right;
}

/* ------------------------ *\
    #Video
\* ------------------------ */

.vid {
    align-self: center;

    width: 100%;
    min-width: 480px;
    max-width: 720px;
    border: 1px solid var(--black);
}

/* ======================== *\
    #Helpers
\* ======================== */

.w-full {
    width: 100%;
}
